/data_banks
/data_VEB
/yield_2022
ch.docx
RNWF_structure.xlsx
/data_currencies
/.github
RNWF_structure_new.xlsx
/cbr_decissions/dataset_hf/ver1
/cbr_decissions/dataset_hf/ver2
/jupiter_notebooks
/cbr_decissions/analyzer.ipynb
/cbr_decissions/Basic_Semantic_Search.ipynb
/cbr_decissions/mlruns
/cbr_decissions/test.ann
/cbr_decissions/.env